.landingPageContainer {
  width: 100vw;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1702731798609-ef80a827199a?q=80&w=1567&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
  color: #f5f5f5;
}

.landingPageContainer nav {
  padding-inline: 2rem;
  padding-block: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.landingPageContainer nav button {
  width: 4rem;
  height: 2rem;
  border-radius: 8px;
  font-size: 1rem;
  background: #ff8c00;
  border: none;
}

.landingPageContainer nav h1 {
  font-size: 1.8rem;
}
.navlist {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1.2rem;
  align-items: center;
}
.navlist button {
  /* background-color: orange; */
}

.landingPageBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70vh;
  align-items: center;
}

.landingPageBody div h1 {
  padding-top: 3rem;
  padding-bottom: 1rem;
  font-size: 3rem;
}
.landingPageBody p {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;

  font-style: italic;
  opacity: 0.7;
}

.landingPageBody img {
  padding-inline: 1rem;
  height: 80vh;

  width: 50vw;
}
.landingPageLeft {
  padding-inline: 2rem;
}

.landingPageBody div:nth-child(1) div {
  margin-top: 1rem;
  border: none;
  width: 7rem;
  height: 2rem;
  border-radius: 8px;
  font-size: 1.4rem;
  background: #ff8c00;
  color: white;
}
.landingPageBody div:nth-child(2) {
  margin-top: 3rem;
}
